
/* background image */
body {
    background-image: url("./images/grey-background.jpg");
    background-size: cover;
}

/* This is for setting the border on the navigation bar */
.nav-border {
    border: 1px solid grey;
    background-color: white;

}

.nav-banner {
    width: 100%;
}

/* This is for setting the padding around the navigation bar when screen is lower than 768px */
@media only screen and (min-width: 768px) {
    .nav-border {
        padding-left: 3em;
    }
}

/* This is for the navigation bar link section */
.nav-links {
    float: right;
    text-align: right;
    background-color: white;
    text-align: center;
    font-size: small;
}

/* This is for setting the navigation settings when screen is lower than 768px */
 @media only screen and (max-width: 768px) {
    .nav-links {
        text-align: center;
        float: none;
        padding-left: 25%;
        padding-right: 25%;
    }
}

/* main box on page */
.main-box {
    background-color: white;
    border: 1px solid grey;
}

/* brand colour for pages */
.brand-color {
    color: lightseagreen;
    ;
}

/* header background colour */
.headerName {
    background-color: lightseagreen;
}

/* This is for setting the header when screen is lower than 768px */
@media only screen and (max-width: 768px) {
    .headerName {
        text-align: center;
        float: none;
        padding-left: 32%;
        padding-right: 25%;
    }
}

.center-block {
    float: none !important
}

/* This is for the About Me picture  */
.about-pic {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

/* This is for the portfolio images */
.portfolio-img {
    /* object-fit: contain; */
    /* width: fit-content; */
    /* width: 300px;
    height: 200px; */
    max-width: 500px;
    width:100%;

}

/* This is for the button settings */
.btn-primary {
    border-color: lightseagreen;
    background-color: lightseagreen;
    width: 120px;
}

/* button hover colour  */
.btn-primary:hover {
    border-color: lightseagreen;
    background-color: seagreen;
    width: 120px;
}

/* settings for the text over the images */
.brand-img-text {
    padding: 5%;
    position: absolute;
    bottom: 30px;
    vertical-align: middle;
    background-color: lightseagreen;
    color: white;
    width: 100%;
    text-align: center;
}

/* footer for every page */
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 90px;
    width: 100%;
    border-style: solid;
    border-color: lightseagreen;
    border-top-width: 8px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}